<!DOCTYPE html>
<html>
<head>
    <title>TeamSpeak Watcher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <h1 id="server-name">TeamSpeak Watcher</h1>

    <h2 id="current-status">Current Status</h2>
    <small id="current-status-timestamp"></small>
    <ul id="server-display"></ul>

    <script>
        var endpoints = {
            'channels': '{{ url_for("channels") }}',
            'clients': '{{ url_for("clients") }}',
            'data': '{{ url_for("data") }}',
            'data.current': '{{ url_for("data_current") }}'
        };
    </script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
