<!DOCTYPE html>
<html>
<head>
    <title>TeamSpeak Watcher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <header>
        <h1>TeamSpeak Watcher</h1>
    </header>

    <nav id="sidebar">
        <h1 class="server-name"></h1>
        
        <a id="current-status-link" href="#">Current Status</a>

        <h2>Data</h2>
        <ul id="server-nav"></ul>
    </nav>

    <section id="content">
        <div class="module">
            <div class="module-content">
                <h2 id="current-status">Current Status</h2>
                <small id="current-status-timestamp"></small>
                <ul id="server-display"></ul>
            </div>
        </div>

        <div class="module">
            <div class="module-content">
                <h2>Average Daily Usage</h2>
                <canvas id="daily-usage-graph" width="800" height="400"></canvas>
            </div>
        </div>
    </section>

    <script>
        var endpoints = {
            'channels': '{{ url_for("channels") }}',
            'clients': '{{ url_for("clients") }}',
            'data': '{{ url_for("data") }}',
            'data.current': '{{ url_for("data_current") }}',
            'data.daily_usage': '{{ url_for("data_daily_usage") }}'
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/current_status.js') }}"></script>
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>
</body>
</html>
