body {
    margin: 0;
    padding: 0;
    background-color: #909090;
}

header {
    height: 20px;
    padding: 10px;
    background: #DDD;
    box-shadow: 0 0 5px #333;
}
header h1 {
    font-size: 20px;
    margin: 0;
}

a {
    color: #0891CF;
}

a:visited {
    color: #a39a92;
}

#content h2, #sidebar h1 {
    padding: 5px;
    border: 2px solid #0891CF;
    border-radius: 5px;
}

#content h2 {
    margin: 0;
}

#sidebar {
    float: left;
    display: inline-block;
    width: 300px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 10px;
    vertical-align: top;
    padding: 10px;
    z-index: -1;
}

#server-nav, #server-nav ul {
    list-style-type: none;
    padding-left: 20px;
}

#content {
    float: left;
    display: inline-block;
    padding: 10px;
}

nav .server-name {
    margin: 0 0 10px 0;
}

#current-status {
    margin-bottom: 0;
}

#server-display {
    padding-left: 0;
}

#server-display li {
    margin-top: 5px;
    list-style: none;
}

#server-display li::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background-size: contain;
    margin-right: 5px;
}

#server-display li.server::before {
    background-image: url("../images/server.png");
}

#server-display li.channel::before {
    background-image: url("../images/channel.png");
}

#server-display li.client::before {
    /*background-image: url("../images/client.png");*/
}

#content .module {
    margin-right: 20px;
    margin-bottom: 20px;
}

#content .module, #sidebar {
    color: #ffffff;
    background-color: #282828;
    box-shadow:  0 0 5px 5px #606060;
}

.module-content {
    padding: 10px;
}

#daily-usage-graph {
    margin-top: 10px;
}
